html,
body {

    font-family: "Roboto", sans-serif;



}

.scroll-disabled {
    overflow: hidden;
}

img {
    max-width: 100%;
    height: auto;
}

* {
    box-sizing: border-box;
    list-style: none;
    padding: 0;
    margin: 0;
}

.p-0 {
    padding: 0;
}

.h1-hidden {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    visibility: hidden;
    z-index: -1;
}

.m-0 {
    margin: 0;
}

.h-100 {
    height: 100% !important;
    min-height: inherit !important;
}

h1 {
    font-weight: 700;
    font-size: 80px;
    line-height: 88px;
    text-align: left;
    color: #FFF;
}



.main-h1 {
    font-weight: 700;
    font-size: 50px;
    line-height: 88px;
    text-align: left;
    color: #333333;

    span {
        color: #771C13;
        display: block;
    }
}

h2 {
    font-size: 3rem;
    color: #fff;


}

h3 {


    font-size: 37px;
    color: #FFF;
    font-weight: 500;
    line-height: normal;
}

p {


    line-height: 28px;
    padding: 8px 0;
    color: #fff;
    font-size: 18px;
    font-weight: 400;
}


.main p {
    font-weight: 500;
    color: #333333;
    font-size: 36px;
    line-height: 1.2em;
}


.swiper-notification {
    display: none;
}

.scroll-slider {
    -webkit-transition-timing-function: linear !important;
    -o-transition-timing-function: linear !important;
    transition-timing-function: linear !important;
}





.checkbox {
    width: 16px !important;
    height: 16px;
    border: 1px solid #D0D5DD !important;
    background: #FFF !important;
    border-radius: 4px !important;
    ;

}

.form-item {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 25px;

}




.e-con {
    padding: 0 !important;
}

.sub-main ul li strong {
    color: #fff;
}

.button {
    order: 2;
}

.health-image img {
    object-fit: cover !important;
}

header .current_page_item a {
    color: #d70827 !important;
}

header .bottom-bar nav>ul .current_page_item::after {
    width: 100%;
}

// Breadcrumbs
.breadcrumbs {
    margin-bottom: 20px;
    font-size: 0.9rem;
    color: #888;
    text-transform: uppercase;
    letter-spacing: 1px;

    a {
        color: #fff;
        text-decoration: none;
        transition: color 0.3s ease;

        &:hover {
            color: #d4af37;
        }
    }

    span {
        margin: 0 10px;
        color: #555;
    }
}

// Contact Page Styles
.contact-section {
    .contact-info-wrapper {
        padding-right: 30px;
    }

    .contact-item {
        display: flex;
        align-items: flex-start;
        margin-bottom: 25px;

        .icon {
            font-size: 1.5rem;
            margin-right: 15px;
            color: #d4af37;
            width: 30px;
            text-align: center;
        }

        .text {
            h5 {
                font-size: 1rem;
                margin-bottom: 5px;
                color: #fff;
                font-weight: 600;
            }

            p {
                margin: 0;
                color: #aaa;
                font-size: 0.95rem;
                line-height: 1.6;
            }
        }
    }

    .social-links-large {
        display: flex;
        gap: 15px;
        flex-wrap: wrap;

        .social-btn {
            display: inline-block;
            padding: 10px 20px;
            border: 1px solid rgba(255, 255, 255, 0.1);
            color: #fff;
            text-decoration: none;
            transition: all 0.3s ease;
            font-size: 0.9rem;
            text-transform: uppercase;
            letter-spacing: 1px;

            &:hover {
                background: #d4af37;
                color: #000;
                border-color: #d4af37;
            }
        }
    }

    .map-container {
        border-radius: 10px;
        overflow: hidden;
        box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
        border: 1px solid rgba(255, 255, 255, 0.1);

        iframe {
            display: block;
            filter: grayscale(100%) invert(92%) contrast(83%); // Dark map style
        }
    }

    .form-wrapper {
        background: rgba(255, 255, 255, 0.02);
        padding: 40px;
        border-radius: 10px;
        border: 1px solid rgba(255, 255, 255, 0.05);
    }
}

// Contact Form Refinement (Updated)
.contact-form {
    .form-control {
        background: transparent;
        border: none;
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
        border-radius: 0;
        color: #fff;
        padding: 15px 0;
        transition: all 0.3s ease;

        &:focus {
            background: transparent;
            box-shadow: none;
            border-color: #d4af37;
        }

        &::placeholder {
            color: #666;
        }
    }

    .btn-premium {
        margin-top: 10px;
        padding: 15px 30px;
        font-weight: 600;
        letter-spacing: 2px;
    }
}

.kurumsal-main ul li strong {
    display: block;


    .red-box {
        padding: 60px 50px;
        background-color: #F4F4F4;
        margin-top: 32px;
        border-radius: 24px;


    }

    .grey-box {

        background: #F4F4F4;
        padding: 84px 118px;

        p {
            text-align: center;
        }

    }

    .content-v2 {
        padding: 20px 0;

        h2 {
            color: #333;
            margin: 5px 0;
        }

        ul {
            margin-top: 22px;

            li {
                padding: 4px 0;

                span {
                    color: #d70827;
                    display: block;
                    margin-bottom: 8px;
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 700;
                }

                p {
                    font-size: 14px;
                }
            }
        }
    }

}

.kurumsal-main ul li {
    padding: 5px 0;
    line-height: 1.4em;
}

.kurumsal-box {
    gap: 32px;

}

.kurumsal-box p {
    font-size: 14px;
}

.tibbi-detail-image img {
    border-radius: 24px;
}

.tibbi-detail-content-grey table tr td {
    border: 1px solid grey;
    padding: 15px;

}

.button-fixed {
    position: fixed;
    z-index: 9;
    right: -18px;
    top: 50%;

    span {
        background-color: #d70827;
        color: #fff;
        font-size: 20px;
        font-weight: 500;
        transform: rotate(-90deg);
        display: block;
        padding: 20px;
        border-radius: 16px 16px 0 16px;
        cursor: pointer;
    }
}






.pr-2 {
    padding-right: 13px;
}





.swiper-free-mode>.swiper-wrapper {
    transition-timing-function: linear !important;
}

.call-main-h3 {
    font-size: 30px;
    line-height: 1.2em;
}

.flex-list {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;

    li {
        display: flex;
        align-items: start;
        gap: 14px;
        position: relative;


    }
}

.call-content {
    .white-button {
        margin-top: 20px;
    }

    span {
        font-weight: 700;
        font-size: 32px;
        line-height: 40px;
        text-align: left;

        color: #ffffff;
    }

    p {
        color: #fff;
        padding: 0;
        line-height: 1.2em;
        font-weight: bold;
        font-size: 14px;

    }
}

.patient {
    padding: 50px 0;

    &-main {
        padding-bottom: 55px;
    }

    span {
        margin-bottom: 20px;
        font-weight: bold;
        display: block;
    }

    img {
        border-radius: 24px;
    }
}

.scrool-active {
    width: 100%;
    z-index: 9;
    position: sticky;
    top: 98px !important;
}





.breadcrumb li span {
    font-size: 16px !important;
}

#overview {
    background-color: white;
}

.bullet {
    background-color: rgba(242, 239, 237, 0.5);

}

header .top-bar {
    padding: 10px 0 !important;
}

.contact form input,
textarea {
    background-color: #D0D5DD !important;
}

.faq ul li {
    padding-bottom: 10px !important;
}

.iletisim ul li {
    border-bottom: 1px solid #e0dfdf !important;
    cursor: pointer;
}






.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
    z-index: 99;
}

.show-modal {
    display: block;
    opacity: 1;
    padding: 10px;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

.open {
    display: block;
    opacity: 1;
    padding: 10px;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}


.modal-content {
    background-color: #fff;
    border-radius: 16px 16px 0px 16px;
    padding: 35px;
    position: relative;
}

.modal-content-close {
    position: absolute;
    right: 0;
    top: 0;
    margin: 15px;
}

.modal-content-close span {
    cursor: pointer;
}


.cal {
    a {
        font-weight: 700;
        font-size: 32px;
        line-height: 36px;
        text-align: left;

        color: #8e1e1c;

    }
}

.class-p {
    p {
        font-size: 17px !important;
        ;
    }
}

.mobile-fixed {
    width: 100%;
    background-color: #8E1E1C;
    position: fixed;
    bottom: 0;
    padding: 10px;
    left: 0;
    z-index: 111;


}

.mobile-fixed-p {

    font-weight: 400;
    font-size: 23px;
    line-height: 36px;
    text-align: center;
    color: #ffffff;
    padding: 0;

    span {
        font-weight: bold;
    }

}

.mobile-fixed-p-two {
    background-color: #fff;
    padding: 10px;

    p {
        font-weight: 700;
        font-size: 14px;
        line-height: 16px;
        text-align: center;
        padding: 0;

        color: #000000;

    }

    img {
        margin-left: 4px;
    }
}


.before-price {
    position: relative;

    &::before {
        width: 130px;
        height: 176px;
        object-fit: contain;
        background-position: center;

        top: 0;
        content: '';
        position: absolute;
        background-image: url('../img/price-lipo.png');
    }
}

.lipo {
    background-color: #fff;
    margin-top: 24px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 2;

    .galery-slider-pagination {
        justify-content: center;
        display: flex;
        padding-top: 64px;
        background-color: white;

        .swiper-pagination-bullet {
            width: 88px;
            height: 2px;
            background: #FFF !important;
            border-radius: 0;

            &-active {
                background: linear-gradient(90deg, rgba(62, 22, 18, 1) 0%, rgba(96, 26, 24, 1) 51%, rgba(142, 30, 28, 1) 100%) !important;
            }
        }
    }

    &-h4 {
        font-weight: 700;
        font-size: 40px;
        line-height: 25px;
        text-align: center;
        text-decoration-line: underline;
        color: #ffffff;
    }

    &-h3 {
        line-height: 38px;
        font-size: 36px;
        font-weight: 500;
        color: #fff !important;
        padding-bottom: 22px;
        text-decoration: underline;
    }

    &::before {
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        content: '';
        position: absolute;
        background-color: #8E1E1C;
        z-index: -1;
        transform-origin: 100% 0px;
        transform: scaleY(0);
        transition: transform 0.4s cubic-bezier(0.5, 1.6, 0.4, 0.7) 0s, -webkit-transform 0.4s cubic-bezier(0.5, 1.6, 0.4, 0.7) 0s;
    }

    &:hover {
        img {
            -webkit-filter: brightness(0) invert(1);
            filter: brightness(0) invert(1)
        }

        &::before {
            transform: scaleY(1);
        }

        p {
            color: #fff;
        }

        span {
            color: #fff;
        }
    }

    p {
        font-weight: 500;
        font-size: 20px;
        line-height: 23px;
        text-align: right;
        color: #000000;

    }

    &-box {
        display: flex;
        align-items: center;
        gap: 25px;

        span {
            font-weight: bold;
        }
    }
}

.nova-button {
    width: 126px;
    height: 41px;
    border-radius: 10px 10px 0px 10px;
    background: #FFF;
    color: #222;
    font-size: 14px;
    font-weight: 800;
    line-height: 16px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
    transition: 0.4s;

    &:hover {
        color: #fff;
        background-color: #E0BC55;
    }
}