@media screen and (max-width: 1000px) {
    header {

        .bottom-bar {
            border-radius: 0;
            padding: 20px;
        }
    }

    footer {
    

        ul {
            margin-top: 25px;
        }
    }

    .footer-down {
        margin-top: 0;
        flex-direction: column;
        align-items: start;
        justify-content: start;

    }

}

@media screen and (max-width: 1500px) {
    .main-slider-flex {
        bottom: 0 !important;
    }

    .main {
        padding-top: 50px;



        h1 {
            font-size: 40px;
        }
    }

    .main-h1 {
        font-size: 30px;
        line-height: 1.2em;
    }

    .main p {
        font-size: 20px;
    }

}


@media screen and (max-width:768px) {
    .page-header {
        padding: 120px 0 50px !important;

        h1 {
            font-size: 2.5rem !important;
            line-height: 1.2 !important;
        }

        p {
            font-size: 1rem !important;
        }

        .breadcrumbs {
            font-size: 0.8rem !important;
        }
    }

    .section-padding {
        padding: 60px 0 !important;

        h2 {
            font-size: 2rem !important;
        }

        p {
            font-size: 1rem !important;
        }
    }

    .contact-section {
        .form-wrapper {
            padding: 25px !important;
        }

        .contact-info-wrapper {
            margin-bottom: 40px;
        }

        .map-container {
            height: 250px !important;
        }
    }

    .new-sub-main {
        padding: 30px;

        &::before {
            background-position: bottom;
        }
    }
    .new-faq-box h3 {
        font-size: 17px;
  }
  .services{
    padding: 30px 0;
  }
  .services-box{
    margin: auto;
  }
  .about .container-fluied{
    padding: 0 25px;
  }
  .nova h3{
    font-size: 32px;
  }


    .pt-40 {
        padding: 30px 0;
    }

    .flex-center {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .scroll-list {
        padding: 10px 0;

        ul {
            justify-content: start;
            overflow-x: scroll;
            overflow-y: hidden;

            li {
                flex: 0 0 33.33%;
                max-width: 100%;

                a {
                    display: block;
                    margin: 8px 0;
                }
            }
        }


    }

    .contact-form {
        padding: 35px 0;

        &-box {
            p {
                font-size: 20px;
            }
        }

        &-social {
            margin-bottom: 15px;

            h3 {
                font-size: 20px;
            }

            p {
                font-size: 15px;
            }
        }
    }

    .galery {
        padding: 30px 0;
    }

    .treatments,
    .who {
        padding: 35px 0;
    }

    .call-content {
        span {
            font-size: 24px;
        }

    }

    .who {
        img {
            margin-bottom: 25px;
        }
    }

    .flex-list {
        margin: 35px 0;

        p {
            font-size: 10px;
        }
    }

    .before {
        padding: 35px 0;
    }

    .form-flex {
        gap: 12px;
    }

    .pt-20 {
        padding-top: 40px;
    }

    .contact {
        padding: 30px 0;
        border-radius: 0;
    }

    .contact form {
        padding: 30px;

        &::after {
            display: none;
        }
    }

    .faq-answer {
        padding: 6px;
    }

    .contact-left {
        &-content {
            margin-top: 25px;

            ul {
                li {
                    padding: 10px 0;

                    a {
                        font-size: 15px;
                    }
                }
            }
        }
    }

    .contact-left ul {
        margin-top: 20px;
    }

    .contact-form-social ul li a svg {
        width: 25px !important;
        height: 25px !important;
    }

    .modal {
        background-color: #fff;
        overflow: scroll;

        .modal-content-close {
            margin: 0 10px !important;

        }

        .cal a {
            font-size: 20px;
            line-height: 1.2em;
        }

        &-content {
            border-radius: 0;
            padding-top: 30px;
            padding-right: 0;
            padding-left: 0;
            padding-bottom: 0;
        }

        .contact-form-forms form {
            padding: 10px;
        }

        .contact-form-box {
            padding: 10px;
            border-radius: 0;

        }

        .contact-form-social {
            padding: 10px;
            border-radius: 0;

            p {
                padding: 0;
            }
        }
    }


    .bg-red::before {
        background-color: #fff;
        opacity: .9;
        width: 100%;
        height: 54% !important;
        border-radius: 0;
        left: 0;
        top: unset;
        bottom: -30px;
        content: '';
        position: absolute
    }

    .call form label {
        margin-top: 12px;
    }

    .call-main {
        h3 {
            font-size: 25px;
        }
    }

    .input-group {
        max-width: 100% !important;

        input {}
    }

    .blog-detail-form h3 {
        font-size: 25px;
        line-height: 1.2em;
    }



    footer form {
        margin: 30px 0;
    }



    .roadshow-slider {
        height: auto;

        .swiper-slide {
            img {
                height: auto;
            }
        }
    }

    .content-box {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        z-index: 1;

        &::before {

            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
            width: 50px;
            height: 50px;
            z-index: 1;
        }


    }

    #main {
        display: none;
    }

    #content {
        display: none;
    }


    h2 {
        font-size: 24px;
        line-height: 1.2em;

        br {
            display: none;
        }
    }

    p {
        font-size: 14px;
    }

    .header-active {
        top: 0;
    }

    .main {
        height: 100%;


        h1 {
            font-size: 32px;
            line-height: 1.2em;
            min-height: 77px;
        }

        img {
            margin-top: 25px;
            height: auto;
        }

    }

    .main-slider-flex {
        position: initial !important;
        bottom: 0 !important;
    }

    .faq {
        padding: 40px 0;

        &-question {
            margin-top: 5px;
            padding: 5px 0;
        }

        &-main {
            padding-bottom: 30px;
        }

        ul {
            li {
                flex: 0 0 100%;
                max-width: 100%;

                .faq-question {
                    h3 {
                        font-size: 13px;
                        line-height: 1.2em;
                    }
                }
            }

        }
    }

    .main-form {
        margin-top: 35px;
        border-radius: 0;

        form {
            padding: 20px;
        }

        &-content {
            margin-top: 25px;
        }
    }

    footer {
        &::after {
            background-position: bottom;
        }
    }

    .hekim-tab-content {
        ul {
            li {
                display: block;
            }
        }
    }

    .hekim-detay .hekim-tab {
        gap: 0;
        justify-content: space-between;
    }

    .hekim-detay .hekim-tab li a {
        font-size: 16px;
    }

    .sub-main-hekim-detay {
        align-items: end;
    }

    .sub-main {
        &-img {
            position: relative;
            right: unset !important;
            top: unset !important;
        }

        h1 {
            font-size: 24px;
            margin: 15px 0;
            line-height: 1.2em;
        }

        ul {
            margin: 0;
        }

        &::after {
            background-position: bottom;
        }
    }

    .blog-detail-form {
        padding: 35px;
    }

    .blog-detail {
        padding: 40px 0;

        h4 {
            font-size: 16px;
            line-height: 1.2em;
        }

        .date {
            p {
                font-size: 12px;
            }
        }
    }

    .about {
        padding: 40px 0;

        ul {
            justify-content: center;

            li {
                gap: 10px;

                &:last-of-type {
                    margin-top: 25px;


                }

                img {
                    width: 35px;
                    height: 35px;
                }

            }

        }

        &-content {
            span {
                font-size: 17px;
                line-height: 1.2em;
            }
        }
    }

    .dr {
        padding: 40px 0;

        &::before {
            background-position: bottom;
        }

        &-main {
            padding-bottom: 27px;

            a {
                margin-top: 15px;
            }

        }

        &-arrow {
            margin: 10px 0;
            justify-content: start;
        }

        &-slider {
            width: 100%;
            min-height: auto;
            padding: 30px;
        }

        &-sliders {
            height: auto;
            position: relative;
            top: 0 !important;

        }

        .dr-sliders .swiper-slide-active {
            position: relative;
            left: 20px;

            .dr-sliders-content {
                transition: 400ms linear;
                transform: scale(1);

            }
        }
    }

    .tibbi {
        padding: 40px 0;

        &-main {
            padding-bottom: 51px;
            flex-wrap: wrap;
        }
    }

    .tibbi-slider-pagination {
        padding-top: 35px;
    }

    .health {
        padding: 40px 0;

        &-main {
            padding-bottom: 30px;

            a {
                margin-top: 15px;
            }
        }

        &-arrow {
            justify-content: start;
        }
    }

    #dr-name {
        font-size: 20px;
    }

    #title {
        font-size: 14px;
    }

    .dr-slider .slider-button {
        margin-top: 10px;
    }

    .dr-sliders .swiper-slide {
        justify-content: center;

        img {
            width: 75%;
        }

    }

    .tibbi-detail-content-grey {
        padding: 25px;

        ul {
            li {
                padding: 0;
            }
        }
    }

    .blog-detail {
        &-left {
            ul {
                display: flex;
                flex-wrap: wrap;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;

                li {
                    padding: 14px;
                    max-width: 45%;
                    flex: 0 0 45%;

                    img {
                        width: 20px;
                        height: 20px;
                    }

                    &:nth-child(2) {
                        margin-top: 14px;
                    }

                    a {
                        font-size: 12px;
                    }
                }
            }
        }
    }

    .tibbi-detail {
        &-left {
            ul {
                margin-top: 25px;
                display: flex;
                flex-wrap: wrap;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;

                li {
                    padding: 14px;
                    max-width: 45%;
                    flex: 0 0 45%;

                    img {
                        width: 20px;
                        height: 20px;
                    }

                    &:nth-child(2) {
                        margin-top: 14px;
                    }

                    a {
                        font-size: 12px;
                    }
                }
            }
        }
    }

    .class {
        flex-wrap: wrap;
    }

    .cookie {
        right: 0;
        width: 100%;
    }

    .fixed {
        right: 5px;
        bottom: 62px;
    }

    .bank-account {
        font-size: 14px;
    }

    .iletisim {
        border-radius: 0;
    }

    .slider-videos {
        padding: 30px 0;

        &-main {
            padding-bottom: 30px;
        }
    }

    .tibbi-search {
        padding: 10px 0;
    }

    .tibbi-birimler {
        padding: 25px 0;

        .col-12 {
            margin-top: 10px;
        }
    }

    .tibbi-detail {
        padding: 20px 0;
    }

    .hekim-search {
        padding: 10px 0;
    }

    .hekim .col-12 {
        margin-top: 24px;
    }

    .logo-fixed {
        right: 0;
        margin-right: 1em;
        left: unset;
    }

    .lipo-h3{
        font-size: 25px;
        line-height: 1.2em;
    }
    .get-in{
        padding: 15px;
    }
    .lipo{
        padding: 12px;
     
        span{
            padding: 0;
            font-size: 13px!important;
            line-height: 1.2em;
        }
        p{
            padding: 0;
            font-size: 13px;
            line-height: 1.2em;
        }
    }

    .players-section {
        .players-tab-wrapper {
            flex-direction: column;
        }

        .players-tab-menu {
            flex-direction: row;
            overflow-x: auto;
            margin-bottom: 30px;
            padding-bottom: 10px;

            li {
                flex: 0 0 auto;
                min-width: auto;

                a {
                    padding: 15px 20px;
                    white-space: nowrap;
                    border-left: none;
                    border-bottom: 3px solid transparent;
                    font-size: 0.95rem;

                    &:hover {
                        border-left: none;
                        border-bottom-color: #d4af37;
                    }
                }

                &.active {
                    a {
                        border-left: none;
                        border-bottom-color: #d4af37;
                    }
                }
            }
        }

        .players-tab-content {
            width: 100%;
        }
    }
}